<MudDialog Class="ma-5 py-2 rounded-xl">
    <DialogContent>
        <MudPaper Elevation="0" Class="d-flex flex-column gap-3 justify-center">
            <div class="d-flex justify-center">
                <MinhasNoticiasLogo />
            </div> 
            <MudText Align="Align.Center" Typo="Typo.h6" Color="Color.Default" Style="font-weight: 600"> Adicione Minhas Noticias para sua tela inicial </MudText>
            <MudText Align="Align.Center" Typo="Typo.body2" Class=""> Instale Minhas Noticias em sua tela inicial e acesse-o como um aplicativo comum. </MudText>
            <MudText Align="Align.Center" Typo="Typo.body2" Class=""> O aplicativo não ocupará espaço em seu dispositivo. </MudText>
        </MudPaper>
        <div class="mt-5 d-flex flex-column gap-2 justify-center">
            <MudButton Class="rounded-lg" DisableElevation Color="Color.Success" Variant="Variant.Filled" OnClick="Submit"> Adicionar a tela inicial </MudButton>
            <MudButton Class="rounded-lg" DisableElevation Color="Color.Default" Variant="Variant.Text" OnClick="Cancel"> Talvez mais tarde </MudButton>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }
    void Cancel() => MudDialog.Cancel();
}
