<div class="copyright-footer">
    <MudCard Outlined="false" Elevation="25" Class="mx-4 rounded-xl" Style="margin-bottom: 90px;">
        <MudCardContent>
            <MudGrid Spacing="2">
                <MudItem xs="12">
                    <MudText Align="Align.Center" Typo="Typo.h6" Style="font-weight: 700;" Color="@Color.Primary">MINHAS NOTÍCIAS</MudText>
                    <MudText Align="Align.Center" Typo="Typo.caption" Style="display: block">Mobile PWA and Site templates with essentials built-in functions</MudText>
                </MudItem>

                <MudItem xs="12">
                    <MudText Align="Align.Center" Class="my-3" Typo="Typo.body2" Style="display: block">Built to match the design trends and give your page the awesome facelift it deserves.</MudText>
                </MudItem>

                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        <MudIconButton Icon="fab fa-facebook" Class="mx-2 facebook-color rounded-lg" Variant="Variant.Filled"></MudIconButton>
                        <MudIconButton Icon="fab fa-instagram" Class="mx-2 instagram-color rounded-lg" Variant="Variant.Filled"></MudIconButton>
                        <MudIconButton Icon="fab fa-twitter" Class="mx-2 twitter-color rounded-lg" Variant="Variant.Filled"></MudIconButton>
                        <MudIconButton Icon="fas fa-phone" Class="mx-2 rounded-lg" Color="Color.Error" Variant="Variant.Filled"></MudIconButton>
                        <MudIconButton Icon="fas fa-envelope" Class="mx-2 rounded-lg" Color="Color.Primary" Variant="Variant.Filled"></MudIconButton>
                    </div>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider Class="mx-3"></MudDivider>
                </MudItem>

                <MudItem xs="12">
                    <MudText Typo="Typo.caption" Align="Align.Center" Style="display: block">Copyright&copy; 2022 <strong>Minhas Notícias</strong>.<br> All rights reserved.</MudText>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</div>