@page "/home"
@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Home> _localizer

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<style type="text/css">
    .bounceIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
    }

    .bounceOut {
        animation-duration: 0.5s;
        animation-name: bounceOut;
        animation-fill-mode: forwards;
    }

    .backInDown {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: backInDown;
        animation-fill-mode: forwards;
    }

    .backOutDown {
        animation-duration: 0.5s;
        animation-name: backOutDown;
        animation-fill-mode: forwards;
    }

    .rotateIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: rotateIn;
        animation-fill-mode: forwards;
    }

    .rotateOut {
        animation-duration: 0.5s;
        animation-name: rotateOut;
        animation-fill-mode: forwards;
    }
</style>

<MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 pt-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
    <MudPaper Elevation="0" Class="py-6" Style="background-color: transparent">
    </MudPaper>
</MudPaper>

<MudGrid Class="mt-n15 pt-0 mb-1">
    <MudItem xs="12">
        <MudCard Elevation="25" Class="rounded-xl">
            <MudCardContent>
                <MudText Color="Color.Primary" Align="Align.Center" Typo="Typo.h6" Style="font-weight: 700;">Minhas Notícias</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

    <MudHidden Breakpoint="Breakpoint.MdAndDown" Invert="false">
        <MudCarousel Style="height:600px;" Class="rounded-xl" ShowArrows="false" ShowDelimiters="true" AutoCycle="true" TData="object">
            <DelimiterTemplate Context="selected">
                <div class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                    <span class="mud-icon-button-label">
                        <MudIcon Icon="@(selected ? "fas fa-circle" : "fal fa-circle")" Style="color: var(--mud-palette-secondary); font-size: 0.725rem !important;" />
                    </span>
                </div>
            </DelimiterTemplate>
            <ChildContent>
                <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="rotateIn" CustomTransitionExit="rotateOut">
                    <MudCard Outlined="false" Class="rounded-xl">
                        <MudCardMedia Class="rounded-xl" Image="images/cerrado/intro-1.jpg" Height="600" />
                    </MudCard>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="backInDown" CustomTransitionExit="backOutDown">
                    <MudCard Outlined="false" Class="rounded-xl">
                        <MudCardMedia Class="rounded-xl" Image="images/cerrado/intro-2.jpg" Height="600" />
                    </MudCard>
                </MudCarouselItem>
            </ChildContent>
        </MudCarousel>
    </MudHidden>

    <!--Responsive Devices-->
    <MudHidden Breakpoint="Breakpoint.MdAndDown" Invert="true">
        <MudCarousel Style="height:430px;" Class="rounded-xl" ShowArrows="false" ShowDelimiters="true" AutoCycle="true" TData="object">
            <DelimiterTemplate Context="selected">
                <div class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                    <span class="mud-icon-button-label">
                        <MudIcon Icon="@(selected ? "fas fa-circle" : "fal fa-circle")" Style="color: var(--mud-palette-primary); font-size: 0.725rem !important;" />
                    </span>
                </div>
            </DelimiterTemplate>
            <ChildContent>
                <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="rotateIn" CustomTransitionExit="rotateOut">
                    <MudCard Outlined="false" Class="rounded-xl">
                        <MudCardMedia Class="rounded-xl" Image="/images/cerrado/intro-1.jpg" Height="400" />
                    </MudCard>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="backInDown" CustomTransitionExit="backOutDown">
                    <MudCard Outlined="false" Class="rounded-xl">
                        <MudCardMedia Class="rounded-xl" Image="/images/cerrado/intro-2.jpg" Height="400" />
                    </MudCard>
                </MudCarouselItem>
            </ChildContent>
        </MudCarousel>
    </MudHidden>
